<!-- Footer Content -->
<footer>
	<p class="footer-credits">Website created by Callum Mcintosh (c.mcintosh12@rgu.ac.uk), Patrick Murchie (p.murchie@rgu.ac.uk), Ruaidhri MacKenzie (r.mackenzie17@rgu.ac.uk), and Ryan Tomlinson (r.tomlinson@rgu.ac.uk) </p>
</footer>